*{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    
}
h1 {
    text-align: center;
    color:CornflowerBlue ;
    font-weight: 800;
    
}
h2{
    text-align: center;
    color: brown;
}
.subtitle{
    margin: 100px 0 ;
}

.table{
    text-align: center;
    /* center content */
    margin: 0 auto;
}

.table td {
    padding: 20px;
    border-bottom: 2px solid black;  
    font-weight:600; 
}
.header-table th {
    color:white;
    background-color:cyan;
    font-weight: 900;
    padding: 20px;
    width: 400px;
}
.code {
    color: crimson;
    font-size:xx-large;
    font-weight: 900 !important; 
}


ul{
    list-style: none;
}
.breadcrumb li{
    color: #fff;
    background:cornflowerblue;
    text-decoration: none;
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
    padding: 0 5px;
    float: left;
}

.breadcrumb li::before,
.breadcrumb li::after {
  content: "";
  position: absolute;
  border-color:cornflowerblue;
  border-style: solid;
  border-width: 15px 5px;
}

.breadcrumb li::before {
    left: -10px;
    border-left-color: transparent;
  }
  .breadcrumb li::after {
    left: 100%;
    border-color:transparent;
 
 }